html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}
 
.tic-tac-toe {
  min-width: 300px;
  min-height: 300px;
  margin: 50px auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
  height: 100px;
}

td {
  text-align: center; 
  vertical-align: middle;
}

.circle::after {
  display: inline-block;
  content: "◯";
  font-size: 3rem;
  color: black;
}

.x::after {
  display: inline-block;
  content: "✗";
  font-size: 3.1rem;
  color: black;
}

.reset {
  text-align-last: center;
}